<ion-header>
  <ion-toolbar class="toolbar ion-text-center">
    <ion-title class="texto2">
      Modelos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo1">

    <ion-grid class="ion-text-center">

      <ion-row>

        <ion-col size="12">
          <ion-card class="card1">
            <ion-item class="card2">
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Modelos presentes no mercado
                <br> brasileiro</ion-label>

            </ion-item>

            <ion-card-content>
              As impressoras 3D já estão à venda no Brasil em diversos modelos e preços. Os principais dispositivos funcionam a partir de um bico extrusor que libera camadas de determinado tipo de material para imprimir itens em três dimensões. Os valores listados a seguir começam em R$ 1.521 e podem chegar a até R$ 10.875, oscilando conforme as especificações dos equipamentos.
              <br>
              A maioria dos modelos requer filamentos de plástico ou resina para a impressão, mas também existem opções que trabalham com materiais comestíveis, como chocolate e geleias, por exemplo. Na lista abaixo, o reunimos seis modelos de impressoras 3D para comprar no Brasil em 2021. Confira a seguir as características e diferenciais de cada um dos dispositivos.
            </ion-card-content>
          </ion-card>
        </ion-col>



        <ion-col size="12">
          <ion-card class="card">
            <img src="../assets/impressora1.webp" alt="Refrigerantes">

            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="titulo">
                Vinik Creati.v
              </ion-label>
            </ion-item>

            <ion-item lines="none" class="ion-no-padding">
              <p class="texto">A impressora 3D da Vinik é um modelo bastante compacto, que pesa cerca de 5 kg e mede aproximadamente
                23 cm de altura. O equipamento traz formato similar a um cubo e funciona por meio de uma extrusora,
                 ou seja, vai liberando camadas de um material plástico aquecido que formam os diferentes níveis de impressão
                 . Os filamentos compatíveis com o modelo são o PLA e seus derivados.
                O modelo suporta arquivos nos formatos STL, OBJ, DAE e gcode, e é compatível
                 com os softwares Createbot, Cura, Slic3r, Simplify3D e Repetier-host. Segundo
                 a fabricante, a precisão de impressão do dispositivo é de 0,1 mm e a velocidade
                  fica entre 20 e 60 mm/s. O modelo é compatível com os sistemas operacionais Linux
                   e Windows.</p>
            </ion-item>

            <ion-item lines="none">

              <ion-note slot="end" color="preco"> <span> <b>a partir de R$ 1.521</b> </span> </ion-note>
            </ion-item>

          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="card">
            <img src="../assets/impressora2.webp" alt="Refrigerantes">

            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="titulo">
                Creality FDM Ender-3 V2
              </ion-label>
            </ion-item>

            <ion-item lines="none" class="ion-no-padding">
              <p class="texto">A Creality FDM Ender-3 V2 traz tecnologia de impressão por Moldagem por Deposição Fundida (FDM, na sigla em inglês), e é compatível com filamentos de PLA, TPU e PETG. O dispositivo suporta arquivos nos formatos STL, OBJ e AMF e permite imprimir as peças usando os softwares de fatiamento Simplify3D e Cura. O modelo é compatível com macOS e Windows.

                No site da Amazon, o dispositivo pode ser encontrado por cifras a partir de R$ 2.279. O modelo possui precisão de cerca de 0,1 mm e velocidade de impressão inferior a 100 mm/s. A impressora pesa pouco menos de 8 kg e tem aproximadamente 48 cm de altura. A tela HD de alta resolução embutida no equipamento promete uma interface intuitiva..</p>
            </ion-item>

            <ion-item lines="none">

              <ion-note slot="end" color="preco"> <span> <b>a partir de R$ 2.279</b></span> </ion-note>
            </ion-item>

          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="card">
            <img src="../assets/impressora3.webp" alt="Refrigerantes">

            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="titulo">
                Creality FDM Ender-3 Max
              </ion-label>
            </ion-item>

            <ion-item lines="none" class="ion-no-padding">
              <p class="texto">A Creality FDM Ender-3 Max é um dispositivo um pouco mais avançado em comparação com o modelo anterior. A impressora também funciona por meio da tecnologia de impressão por Moldagem por Deposição Fundida, mas possui um espaço de trabalho com volume maior e, por isso, permite imprimir peças maiores. As evoluções também alteram o preço, que sobe para cerca de R$ 3.201.

                O modelo é compatível com filamentos de PLA, TPU, PETG, ABS e madeira, e a opção suporta arquivos nos formatos STL, OBJ e AMF. Os softwares de fatiamento compatíveis são o Creality Slicer, Cura, RepetierHost e Simplify3D, que estão disponíveis para macOS, Windows e Linux. A velocidade de impressão recomendada é de 30 a 60 mm/s e a precisão de impressão é de 0,1 mm.

                </p>
            </ion-item>

            <ion-item lines="none">

              <ion-note slot="end" color="preco"> <span> <b>a partir de R$ 3.201</b> </span> </ion-note>
            </ion-item>

          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="card">
            <img src="../assets/impressora4.webp" alt="Refrigerantes">

            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="titulo">
                PCYes Faber 3 31724
              </ion-label>
            </ion-item>

            <ion-item lines="none" class="ion-no-padding">
              <p class="texto">A impressora 3D da PCYes é outro modelo que funciona com mecanismo de extrusão. A opção é compatível com filamentos PLA, ABS, TPU, PVA, HIPS, fibra de carbono, madeira, metal e filamentos flexíveis. A velocidade de impressão do modelo vai de 40 a 180mm/s, e a resolução é da ordem dos mícrons, ou seja, a opção possui precisão superior aos outros modelos listados até aqui.

                O dispositivo é compatível com os formatos 3MF, STL, OBJ, FPP, BMP, PNG, JPG e JPEG. O software de fatiamento recomendado é o Cura, mas a impressora também possui suporte a outros programas. A opção funciona com os sistemas operacionais macOS, Windows e Linux e está disponível no site da Amazon por preços a partir de R$ 3.299.</p>
            </ion-item>

            <ion-item lines="none">

              <ion-note slot="end"> <span> <b>a partir de R$ 3.299</b></span> </ion-note>
            </ion-item>

          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="card">
            <img src="../assets/impressora5.webp" alt="Refrigerantes">

            <ion-item lines="none" class="titulo">
              <ion-label class="ion-text-center">
                Flashforge Inventor
              </ion-label>
            </ion-item>

            <ion-item lines="none" class="ion-no-padding">
              <p class="texto">O modelo Inventor, da Flashforge, traz um design que se diferencia dos outros da lista, já que a câmara de impressão é fechada, o que mantém a temperatura de impressão constante e garante menor encolhimento do material. Além disso, o modelo é equipado com uma câmera, que pode ser usada para monitorar o status de impressão das peças. O preço alcança cifras próximas dos R$ 6.664.

                O dispositivo é compatível com filamentos PLA, ABS, PVA, HIPS, PETG, TPE e TPU, além de filamentos flexíveis, madeira e metal. Os softwares de fatiamento recomendados são o FlashPrint, disponível para Windows e macOS, e o Happy 3D, que tem suporte para Android, iPhone (iOS) e Windows. O modelo possui velocidade de impressão de 10 a 200 mm/s e resolução de 0,1 mm.</p>
            </ion-item>

            <ion-item lines="none">

              <ion-note slot="end" color="preco"> <span> <b>a partir de R$ 6.664</b> </span> </ion-note>
            </ion-item>

          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="card">
            <img src="../assets/impressora6.webp" alt="Refrigerantes">

            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="titulo">
                Wiiboox Sweetin
              </ion-label>
            </ion-item>

            <ion-item lines="none" class="ion-no-padding">
              <p class="texto">O modelo da Wiiboox é uma impressora 3D de alimentos. A opção permite criar peças em três dimensões a partir de matérias-primas como chocolates, geleias, mousses, cremes e pastas. A impressora é voltada para estabelecimentos como restaurantes e confeitarias, mas também pode ser utilizada por amantes da culinária.

                O equipamento possui bico extrusor nozzle de 0,4 mm e requer o investimento de aproximadamente R$ 10.875. O modelo suporta arquivos nos formatos STL e GCODE, possui velocidade de impressão de 15 a 70mm/s e precisão de 0,1 mm.</p>
            </ion-item>

            <ion-item lines="none">

              <ion-note slot="end" color="preco"> <span> <b> a partir de R$ 10.875 </b> </span> </ion-note>
            </ion-item>

          </ion-card>
        </ion-col>





      </ion-row>

    </ion-grid>

</ion-content>
