<ion-header>
  <ion-toolbar class="toolbar ion-text-center">
    <ion-title class="texto2">
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo1">
  <ion-grid>
    <ion-row>

      <ion-col size="12">
        <ion-card class="card">
          <img src="../assets/pic.jpg" alt="Refrigerantes">

          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="titulo">
              Você realmente sabe
              <br> sobre impressoras 3D?
            </ion-label>
          </ion-item>

          <ion-item lines="none" class="ion-no-padding">
            <p class="texto">Esse quiz foi feito no propósito de testar um pouco seus conhecimentos sobre impressoras 3D, abrangendo vários tipos de perguntas.</p>
          </ion-item>



          <ion-button expand="block" color="preco" href="https://pt.quizur.com/trivia/voce-realmente-sabe-sobres-impressoras-3d-Osoi">Começar</ion-button>


        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>
